version: "3.9"

services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./api:/app
    depends_on:
      - redis
      - minio
      - mongo

  redis:
    image: redis:7

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./storage/minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  worker:
    build: ./workers
    env_file: .env
    depends_on:
      - redis
      - minio
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


volumes:
  mongo_data:
